#--------------------------------------------------------------------
# Get environmental variables or set defaults
#--------------------------------------------------------------------

MEA_THREADS=${MEA_THREADS:=10}
MEA_MEM=${MEA_MEM:=31000000000}
JAVA_XMS=${JAVA_XMS:=4G}
JAVA_XMX=${JAVA_XMX:=54G}

#--------------------------------------------------------------------
# path to external tools
#--------------------------------------------------------------------

ALEA_JAR="java -Xms$JAVA_XMS -Xmx$JAVA_XMX -jar $MEA_BIN/alea.jar"

#--------------------------------------------------------------------
# parameters passed to external tools
#--------------------------------------------------------------------

MEA_STAR_ALN_PARAMS="--runThreadN "$MEA_THREADS" --limitBAMsortRAM "$MEA_MEM" --outFilterType BySJout --outSAMtype SAM"
MEA_STAR_ALN_TOTAL_PARAMS="--runThreadN "$MEA_THREADS" --limitBAMsortRAM "$MEA_MEM" --outFilterType BySJout --outSAMtype SAM"

MEA_BAM2WIG_PARAM_MIN_QUALITY=1
MEA_BAM2WIG_PARAM_SE_EXTENSION=300
MEA_BAM2WIG_PARAM_FILTERING_FLAG=1540
MEA_METH2WIG_PARAM_MIN_DEPTH=1

VAR_REFERENCE_STRAIN="C57BL6J"

#--------------------------------------------------------------------
# utility functions
#--------------------------------------------------------------------

function printProgress {
    echo [mea] $1 at [`date`]
}

function meaCheckDirExists {
    if [ ! -d "$1" ]; then
        echo "Error: Directory $1 does not exist"
        exit 1
    fi
}

function meaCheckFileExists {
    if [ ! -f "$1" ]; then
        echo "Error: File $1 does not exist"
        exit 1
    fi
}

function meaCreateDir {
    if [ ! -d "$1" ]; then
        mkdir -p "$1"
    fi
    if [ ! -d "$1" ]; then
        echo "Error: Unable to create Directory $1"
        exit 1
    fi
}
